[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geneClassifiers"]
	path = geneClassifiers
	url = https://github.com/rkuiper/geneclassifiers
